name: HW4 Security

on:
  push:
    branches: [ "master" ]

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Generate CycloneDX SBOM
        run: mvn -B cyclonedx:makeBom --file pom.xml

  security:
    runs-on: ubuntu-latest
    needs: build

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Set up JDK 17
        uses: actions/setup-java@v4
        with:
          java-version: '17'
          distribution: 'temurin'
          cache: maven

      - name: Launch Dependency Check
        env:
          NVD_API_KEY: ${{ secrets.NVD_API_KEY }}
        run: mvn -B dependency-check:check --file pom.xml

      - name: Upload Dependency Check report as an artifact
        uses: actions/upload-artifact@v4
        with:
          name: security
          path: target/dependency-check-report.html
          retention-days: 7